/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  width: var(--content-width);
}

.header__content {
  width: var(--content-width);
  margin: 0 auto;
  padding: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: var(--header-logo-size);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--header-title-size);
  text-transform: uppercase;
  font-weight: normal;
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;

  text-shadow:
    -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);
}

@supports ((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.filter-brightness {
  filter: brightness(1.2);
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-saturate {
  filter: saturate(1.8);
}

.filter-multiple {
  filter: brightness(1.1) contrast(1.2) saturate(1.3);
}

.filter-sepia {
  filter: sepia(0.3);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-blur {
  filter: blur(2px);
}

.filter-brightness_contrast {
  filter: brightness(0.9) contrast(1.3);
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0 25px 25px;
}

.card__icon-button {
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0;
  transition: border-color 0.3s ease;
  max-height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  width: var(--like-icon-size);
}

.heart .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
  fill: var(--heart-sparks-color);
}

.like-icon:hover .heart .core {
  fill: var(--heart-core-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .heart .main-body {
  fill: var(--heart-core-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .heart .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .heart .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .heart .contour {
  fill: var(--heart-contour-color);
}

.like-icon.is-liked .heart .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleHeart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparksFlash 0.3s 0.3s ease-in;
}

.card__like-button {
  min-width: 130px;
  height: 38px;
  padding: 9px 17px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.save-button-container {
  margin: 50px auto 100px;
  display: flex;
  justify-content: center;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.save-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.save-button:hover::before {
  transform: translateX(0);
}

.save-button__icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  transition: filter 0.5s ease-in-out;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  }

.dialog {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 30px;
  max-width: 353px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  display: flex;
}

.dialog__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  grid-row: 1;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__form {
  grid-column: 1 / -1;
}

.dialog__button {
  width: 100%;
  padding: 9px 17px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.dialog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.dialog__button:hover::before {
  transform: translateX(0);
}


@media (width <= 375px) {
  .header__content {
    width: 100%;
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0;
  }

  .content {
    width: 100%;
  }

  .card__label {
    right: 13px;
    top: 23px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    max-width: 341px;
    padding: 30px 40px;
  }
}

