
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'Press Start 2P', monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --text-color: #000;
  --button-text-color: #fff;
  --border-color: currentColor;
  --heart-contour-color: #000;
  --heart-core-color: #000;
  --heart-fill-color: #ff0000;
  --heart-sparks-color: #ff0000;
  --label-stroke-color: #fff;
  --bg-gradient:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-padding: clamp(7.2rem, 6.8479rem + 1.5023vw, 8.2rem) 0;
  --header-logo-size: clamp(2.9925rem, 2.6404rem + 1.5023vw, 3.9925rem);
  --header-title-size: clamp(0.856rem, 0.6579rem + 0.8451vw, 1.418rem);
  --like-icon-size: 39px;
}